<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Lance's Portfolio</title>
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet"><link rel="stylesheet" href="https://public.codepenassets.com/css/normalize-5.0.0.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}">

</head>
<body>
<!-- partial:index.partial.html -->
<!-- Hero -->
  <section class="et-hero-tabs">
    <h1>LANCE'S PORTFOLIO</h1>
    <h3>IT Graduate | Aspiring Web Developer</h3>
    <div class="et-hero-tabs-container">
      <a class="et-hero-tab" href="#tab-about_me">About Me</a>
      <a class="et-hero-tab" href="#tab-project">Projects</a>
      <a class="et-hero-tab" href="#tab-contact">Contact</a>
      <a class="et-hero-tab" href="#tab-hobbies">Hobbies</a>
      <a class="et-hero-tab" href="#tab-resume">Resume</a>
      <span class="et-hero-tab-slider"></span>
    </div>
  </section>

  <!-- Main -->
  <main class="et-main">
    <section class="et-slide" id="tab-about_me">
      <h1>Lance Kirvy G. Amarles</h1>
      <h3 style="margin: 30px; width: 50%; line-height: 200%;" >
      Hi, I'm Lance, an IT student from Misamis Oriental, Philippines. I love coding, learning new technologies, and solving problems. My goal is to become a skilled software developer, specializing in web development and computer vision. I'm currently exploring Flask and planning to learn Selenium.
      </h3>
      <h2 class="Repertoire">My Programming Repertoire</h2>
      <table class="programming-container">
        <tr>
          <td class="programming-item">
            <img class="img-icon" src="{{ url_for('static', filename='images/Python.png') }}" alt="Python">
          </td>
          <td class="programming-item">
            <img class="img-icon" src="{{ url_for('static', filename='images/PHP.png') }}" alt="PHP">
          </td>
          <td class="programming-item">
            <img class="img-icon" src="{{ url_for('static', filename='images/opencv.png') }}" alt="OpenCV">
          </td>
          <td class="programming-item">
            <img class="img-icon" src="{{ url_for('static', filename='images/ultralytics.svg') }}" alt="Ultralytics">
          </td>
          <td class="programming-item">
            <img class="img-icon" src="{{ url_for('static', filename='images/sql.png') }}" alt="SQL">  
          </td>
          <td class="programming-item">
            <img class="img-icon" src="{{ url_for('static', filename='images/Flask.png') }}" alt="Flask">  
          </td>
        </tr>
      </table>

    </section>
    

    </section>
    <section class="et-slide" id="tab-project">
      <h1 class="Projects">Projects</h1>
      <div style="display: flex; flex-direction: row;">
        <div style="flex: 1;">
          <video class="video" controls style="width: 60%; height: auto;">
            <source src="{{ url_for('static', filename='videos/HighWayDetect.mp4') }}" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
        <div style="flex: 1; padding: 10px; margin: 20px; position: relative; right: 100px;">
          <h2>Highway Lane Detection</h2>
          <p>
            This project is a Python script that uses OpenCV to detect the lanes in a video of a highway. It uses a combination of edge detection and line detection to find the lanes. The script can also detect the lines on the side of the road.
          </p>
        </div>
      </div>
      <div style="display: flex; flex-direction: row;">
        <div style="flex: 1;">
          <video class="video" controls style="width: 60%; height: auto;">
            <source src="{{ url_for('static', filename='videos/10secBanger.mp4') }}" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
        <div style="flex: 1; padding: 10px; margin: 20px; position: relative; right: 100px; ">
          <h2>Pose Detection Model</h2>
          <p>
            This project implements BlazePose, a lightweight pose estimation model, to detect human body keypoints in real-time using a webcam. The system filters detections, ensuring only poses with at least 80% confidence are recognized.          </p>
          </p>
          </div>
      </div>
      

    </section>
    <section class="et-slide" id="tab-contact">
      <h1>Contact</h1>
      <h3>Contact Details: </h3>
      <h4>Email: <a href="mailto:xulance34@gmail.com">xulance34@gmail.com</a></h4>
      <h4>Contact Number: 0997 963 1150</h4>
      <h4><a href="https://github.com/BitKat20xx" target="_blank">GitHub</a></h4>
    </section>

    <section class="et-slide" id="tab-hobbies">
      <h1 id="Hobbies">Hobbies</h1>
      <div style="display: flex; flex-direction: row; align-items: center;">
        <img src="{{ url_for('static', filename='images/kellybjj.jpg') }}" alt="Hobby Image" style="width: 50%; height: auto; margin-right: 20px; border-radius: 8px;">
        <p style="flex: 1; font-size: 32px;">
          I train BJJ as of the moment. It's a very fun sport and I identfy with it. You get fit while having fun. At least that's what I think.
        </p>
      </div>
    </section>
    <section class="et-slide" id="tab-resume">
      <h1>Resume</h1>
      <h3>Details about my experience and skills.</h3>
      <a href="{{ url_for('static', filename='RESUME.pdf') }}" target="_blank"><button class="custom-button">Open Resume</button></a>
    </section>
  </main>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
  <script src="{{ url_for('static', filename='/script.js') }}"></script>

</body>
</html>
